<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../templates/head.html %>
  <meta name="description" lang="en" content="miRNA Feature Calculator" />
  <meta name="keywords" lang="en" content="miRNA Feature Calculator" />
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>miRNA</title>

  <link rel="icon" type="image/x-icon" href="favicon.ico" />


  <link rel="stylesheet" href="/css/prettify.css" />
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <style>
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
      border: none;
      text-align: center;
    }

    body {
      color: black;
    }

    .ui-widget.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content.success-dialog {
    background: #F9F9F9;
    border: 1px solid #90d93f;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    background: #b0de78;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}
  </style>
  <script src="/js/mirnaScript.js"></script>

</head>

<body style="background-color:#F2F4FA;">
  <!--
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">miRNA</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
-->

  <div class="jumbotron" style="background-color:transparent !important;">
    <div class="container col-md-6 col-md-offset-3">
      <h2>miRNA</h2>
      <p>JLab pre-microRNA feature calculator</p>
    </div>
  </div>

   <div class="row">
  <div class="container col-md-4 col-md-offset-3" name="mainDiv" id="mainDiv">
    <form role="form" name="mirnaForm" id="mirnaForm">
      <div class="form-group">
        <h5>Paste your sequences here in FASTA format</h5>
        <h6>You can calculate features for only 5 sequences at a time</h6>
        <textarea class="form-control" name="inputFasta" id="inputFasta" rows=5 required="required" placeholder=">hsa-let-7a-1 MI0000060
UGGGAUGAGGUAGUAGGUUGUAUAGUUUUAGGGUCACACCCACCACUGGGAGAUAACUAUACAAUCUACUGUCUUUCCUA
>hsa-let-7a-2 MI0000061
AGGUUGAGGUAGUAGGUUGUAUAGUUUAGAAUUACAUCAAGGGAGAUAACUGUACAGCCUCCUAGCUUUCCU
>hsa-let-7a-3 MI0000062
GGGUGAGGUAGUAGGUUGUAUAGUUUGGGGCUCUGCCCUGCUAUGGGAUAACUAUACAAUCUACUGUCUUUCCU
>hsa-let-7b MI0000063
CGGGGUGAGGUAGUAGGUUGUGUGGUUUCAGGGCAGUGAUGUUGCCCCUCGGAAGAUAACUAUACAACCUACUGCCUUCCCUG
>hsa-let-7c MI0000064
GCAUCCGGGUUGAGGUAGUAGGUUGUAUGGUUUAGAGUUACACCCUGGGAGUUAACUGUACAACCUUCUAGCUUUCCUUGGAGC"></textarea>
      </div>
      <br>
      <h5>Select features that you want to calculate</h5>
      <h5>The list of features with their descriptions are accessible at <a href="featureList">here</a></h5>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3">Sequential</th>
            <th class="col-md-3">Structural</th>
            <th class="col-md-3">Probabilistic</th>
            <th class="col-md-3">Thermodynamic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

              <div class="form-group">
                <select name="seq" id="seq" class="form-control" size="5" multiple="multiple">
                </select>
              </div>
            </td>
            <td>

              <div class="form-group">
                <select name="str" id="str" class="form-control" size="5" multiple="multiple">
                </select>
              </div>
            </td>
            <td>

              <div class="form-group">
                <select name="stat" id="stat" class="form-control" size="5" multiple="multiple">
                </select>
              </div>
            </td>
            <td>

              <div class="form-group">
                <select name="thermo" id="thermo" class="form-control" size="5" multiple="multiple">
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" onclick="move('up', 'seq');"><span class="glyphicon glyphicon-chevron-up"></span></button>
                  <button type="button" class="btn btn-default" onclick="move('down', 'seq');"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
              </div>
            </td>

            <td>
              <div class="text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" onclick="move('up', 'str');"><span class="glyphicon glyphicon-chevron-up"></span></button>
                  <button type="button" class="btn btn-default" onclick="move('down', 'str');"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
              </div>
            </td>

            <td>
              <div class="text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" onclick="move('up', 'stat');"><span class="glyphicon glyphicon-chevron-up"></span></button>
                  <button type="button" class="btn btn-default" onclick="move('down', 'stat');"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
              </div>
            </td>

            <td>
              <div class="text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" onclick="move('up', 'thermo');"><span class="glyphicon glyphicon-chevron-up"></span></button>
                  <button type="button" class="btn btn-default" onclick="move('down', 'thermo');"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div class="form-group">
          <center>
            <h5><b>Selected Features</b><h5></center>
          <select name="feat[]" id="feat" class="form-control" size="5" multiple="multiple" required="required">
          </select>
        </div>
      </div>

      <div class="checkbox">
        <label><input type="checkbox" id="hpl" name="hpl" value="hpl">Normalize all selected features by hpl</label>
        <br>
        <label><input type="checkbox" id="sl" name="sl" value="sl">Normalize all selected features by sl</label>
      </div>
      <br>

      <div class="form-group">
        <h5>Please enter your e-mail address. The results will be sent to it in a tabular file.</h5>
            <input type="email" class="form-control" id="email" name="email" placeholder="email adress">
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-default" name="submit" id="submit" onclick="selectAll();">Submit</button>
        </div>


    </form>

    <br/><br/>
    <div id="resultDiv">

    </div>

    <br>
    <br>
    <br>
    </div>
    <div class="container col-md-2" name="mainDiv" id="mainDiv">

      <a id="offerHeader" style="cursor: pointer;"><h5>Offer us new features to be added</h5></a>

      <form role="form" name="offerForm" id="offerForm" style="display: none;">
        <div class="form-group">
          <h5>Feature description</h5>
          <textarea class="form-control" name="offerDescription" id="offerDescription" rows=5 required="required"></textarea>
        </div>
        <br>

        <div class="form-group">
          <h5>If possible, please provide the JAVA code to calculate the feature</h5>
          <input type="file" class="form-control-file" id="offerCode"></input>
          <br>
        </div>

        <div class="form-group">
          <h5>List of publication that the feature is described in</h5>
          <textarea class="form-control" name="offerReference" id="offerReference" rows=4></textarea>
          <br>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" id="offerEmail" name="offerEmail" placeholder="your email adress">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-default" name="offer" id="offer" onclick="offerFeature();">Offer</button>
          </div>


      </form>
    </div>
</div>

<script>
   $('#offerHeader').click(function(){
      $('#offerForm').toggle();
   })
</script>
</body>

</html>
