<!DOCTYPE html>
<html>
    <head>
        <!-- Head tags and stylesheets include -->
        <% include templates/head.html %>

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" href="/css/lightbox.css" />

        <style>
/*            First software should be blue and second be orange.*/

        </style>
    </head>
    <body>
        <!-- Navigation bar include -->
        <% include templates/navbar.html %>

        <!-- Main content and items -->
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="min-height: 800px;">
            <div class="row"><div class="col-md-12">
                <h1>Collaborators</h1>
            </div></div>                    
                <div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=reinert" title="Collaborative output">Knut Reinert</a></div>
                    <div class="col-md-3">Proteomics</div>
                    <div class="col-md-3"><a href='http://www.fu-berlin.de/en' target='_blank'>Algorithmic Bioinformatics, Freie University, Berlin, <b>Germany</b></a></div>
                    <div class="col-md-2"><a href='http://www.mi.fu-berlin.de/en/inf/groups/abi/members/Professors/reinert.html' target='_blank'>Group</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=ralf" title="Collaborative output">Ralf Hofestaedt</a></div>
                    <div class="col-md-3">Networks and pathways</div>
                    <div class="col-md-3"><a href='http://www.uni-bielefeld.de/' target='_blank'>Medical Informatics, Bioinformatics, Bielefeld University, <b>Germany</b></a></div>
                    <div class="col-md-2"><a href='https://www.techfak.uni-bielefeld.de/ags/bi/' target='_blank'>Group</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>                
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=yousef" title="Collaborative output">Malik Yousef</a></div>
                    <div class="col-md-3">MicroRNA detection and targeting</div>
                    <div class="col-md-3"><a href='http://www.sakhnin.ac.il/' target='_blank'>The College of Sakhnin, <b>Israel</b></a></div>
                    <div class="col-md-2"><a href='https://www.researchgate.net/profile/Malik_Yousef' target='_blank'>RG</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=sami" title="Collaborative output">Sami Doğanlar</a></div>
                    <div class="col-md-3">Plant genomics</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr/' target='_blank'>Plant Molecular Genetics and Breeding, Molecular Biology and Genetics, Izmir Institute of Technology, <b>Turkey</b></a></div>
                    <div class="col-md-2"><a href='http://plantmolgen.iyte.edu.tr/' target='_blank'>Group</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=khalifa" title="Collaborative output">Waleed Khalifa</a></div>
                    <div class="col-md-3">MicroRNA detection and targeting</div>
                    <div class="col-md-3"><a href='http://www.sakhnin.ac.il/' target='_blank'>The College of Sakhnin, <b>Israel</b></a></div>
                    <div class="col-md-2"><a href='https://www.researchgate.net/researcher/2024743422_Waleed_Khalifa' target='_blank'>RG</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=kochetov" title="Collaborative output">Alexey Kochetov</a></div>
                    <div class="col-md-3">Proteogenomics</div>
                    <div class="col-md-3"><a href='http://www.bionet.nsc.ru/en/' target='_blank'>Institute of Cytology and Genetics, Novosibirsk State University, <b>Russia</b></a></div>
                    <div class="col-md-2"><a href='http://assa.bionet.nsc.ru/en/person/381/' target='_blank'>Personal</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>       
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=frary" title="Collaborative output">Anne Frary</a></div>
                    <div class="col-md-3">Plant genomics</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr/' target='_blank'>Plant Molecular Genetics and Breeding, Molecular Biology and Genetics, Izmir Institute of Technology, <b>Turkey</b></a></div>
                    <div class="col-md-2"><a href='http://plantmolgen.iyte.edu.tr/' target='_blank'>Group</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>        
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=genc" title="Collaborative output">Şermin Genç</a></div>
                    <div class="col-md-3">MicroRNAs and disease</div>
                    <div class="col-md-3"><a href='http://www.ibg.deu.edu.tr' target='_blank'>Neurodegeneration and Neuroprotection, Izmir International Biomedicine and Genome Institute, <b>Turkey</b></a></div>
                    <div class="col-md-2"><a href='http://www.ibg.deu.edu.tr/en/research/research-programmes/neuroscience/sermin-genc-laboratory/' target='_blank'>Group</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=talat" title="Collaborative output">Talat Yalçın</a></div>
                    <div class="col-md-3">Mass spectrometry</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr/' target='_blank'>Mass Spectrometry - Proteomics, Chemistry, Izmir Institute of Technology, <b>Turkey</b></a></div>
                    <div class="col-md-2"><a href='http://biomassspec.iyte.edu.tr/' target='_blank'>Center</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=akgül" title="Collaborative output">Bünyamin Akgül</a></div>
                    <div class="col-md-3">Gene regulation and non-coding RNAs</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr/' target='_blank'>Molecular Immunology and Gene Regulation, Molecular Biology and Genetics, Izmir Institute of Technology, <b>Turkey</b></a></div>
                    <div class="col-md-2"><a href='http://web.iyte.edu.tr/~bunyaminakgul/' target='_blank'>Group</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>            
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=ayvaz" title="Collaborative output">Muavviz Ayvaz</a></div>
                    <div class="col-md-3">Cotton genomics</div>
                    <div class="col-md-3"><a href='http://www.adu.edu.tr/' target='_blank'>Adnan Menderes University, Aydın, <b>Turkey</b></a></div>
                    <div class="col-md-2"><a href='http://akbis.adu.edu.tr/personelcv.asp?RegKey=A-2088' target='_blank'>University</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=leser" title="Collaborative output">Ulf Leser</a></div>
                    <div class="col-md-3">Workflow management and parallel data processing</div>
                    <div class="col-md-3"><a href='instweb' target='_blank'>Knowledge Management in Bioinformatics, Computer Science, Humboldt University, Berlin, <b>Germany</b></a></div>
                    <div class="col-md-2"><a href='https://www2.informatik.hu-berlin.de/~leser/' target='_blank'>Personal</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=bilge" title="Collaborative output">Bilge Karaçalı</a></div>
                    <div class="col-md-3">Machine learning</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr/' target='_blank'>Electrical and Electronics Engineering, Izmir Institute of Technology, <b>Turkey</b></a></div>
                    <div class="col-md-2"><a href='http://eee.iyte.edu.tr/staff/bilge-karacali/' target='_blank'>Personal</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>   
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=mrozek" title="Collaborative output">Dariusz Mrozek</a></div>
                    <div class="col-md-3">Parallel data processing</div>
                    <div class="col-md-3"><a href='http://www.zti.aei.polsl.pl/' target='_blank'>Informatics, Silesian University of Technology, Gliwice, <b>Poland</b></a></div>
                    <div class="col-md-2"><a href='http://www.zti.aei.polsl.pl/w3/dmrozek/' target='_blank'>Personal</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=cerny" title="Collaborative output">Martin Cerny</a></div>
                    <div class="col-md-3">Proteomics</div>
                    <div class="col-md-3"><a href='http://mendelu.cz/' target='_blank'>Molecular Biology and Radiology, Mendel University, Brno, <b>Czech Republic</b></a></div>
                    <div class="col-md-2"><a href='https://www.researchgate.net/profile/Martin_Cerny4' target='_blank'>RG</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=hippler" title="Collaborative output">Michael Hippler</a></div>
                    <div class="col-md-3">Proteomics</div>
                    <div class="col-md-3"><a href='https://www.uni-muenster.de/' target='_blank'>Plant Biochemistry and Biotechnology, Biology, Münster University, <b>Germany</b></a></div>
                    <div class="col-md-2"><a href='https://www.uni-muenster.de/Biologie.IBBP/aghippler/' target='_blank'>Group</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><a href="http://jlab.iyte.edu.tr/publications/articles?filter=berthold" title="Collaborative output">KNIME</a></div>
                    <div class="col-md-3">Workflow management</div>
                    <div class="col-md-3"><a href='https://www.knime.org/' target='_blank'>KNIME, Konstanz, <b>Germany</b></a></div>
                    <div class="col-md-2"><a href='https://www.knime.org/' target='_blank'>Company</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
            </div>
        </div> <!-- /container -->

        <!-- Script file and function include -->
        <% include templates/scripts.html %>

        <script src="/js/lightbox.js"></script>
        <script>
            jQuery.fn.sortDivs = function sortDivs(param) {
                $("> div", this[0]).sort(dec_sort).appendTo(this[0]);
                function dec_sort(a, b) {
                    return ($(b).data(param)) < ($(a).data(param)) ? 1 : -1;
                }
            };

            $('#filter').keyup(function () {
                var txt = $('#filter').val();
                $('.software').each(function () {
                    if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            jQuery.fn.sortByTitle = function sortDivs() {
                $("> div", this[0]).sort(dec_sort).appendTo(this[0]);
                function dec_sort(a, b) {
                    return ($(b).find('h4')[0].innerHTML) < ($(a).find('h4')[0].innerHTML) ? 1 : -1;
                }
            };
        </script>
    </body>
</html>
