<!DOCTYPE html>
<html>
    <head>
        <!-- Head tags and stylesheets include -->
        <% include templates/head.html %>

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" href="/css/lightbox.css" />

        <style>
/*            First software should be blue and second be orange.*/

        </style>
    </head>
    <body>
        <!-- Navigation bar include -->
        <% include templates/navbar.html %>

        <!-- Main content and items -->
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="min-height: 800px;">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-warning" onclick="$('.software-container').sortByTitle();" type="button">Sort By Title</button>
                        <button class="btn btn-warning" onclick="$('.software-container').sortDivs('year');" type="button">Sort By Year</button>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="filter" name="filter" placeholder="Search" />
                    </div>
                </div>
                <hr/>
                
                <div class="row">

                </div>
                
            </div>
        </div> <!-- /container -->

        <!-- Script file and function include -->
        <% include templates/scripts.html %>

        <script src="/js/lightbox.js"></script>
        <script>
            jQuery.fn.sortDivs = function sortDivs(param) {
                $("> div", this[0]).sort(dec_sort).appendTo(this[0]);
                function dec_sort(a, b) {
                    return ($(b).data(param)) < ($(a).data(param)) ? 1 : -1;
                }
            };

            $('#filter').keyup(function () {
                var txt = $('#filter').val();
                $('.software').each(function () {
                    if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            jQuery.fn.sortByTitle = function sortDivs() {
                $("> div", this[0]).sort(dec_sort).appendTo(this[0]);
                function dec_sort(a, b) {
                    return ($(b).find('h4')[0].innerHTML) < ($(a).find('h4')[0].innerHTML) ? 1 : -1;
                }
            };
        </script>
    </body>
</html>
