<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Head tags and stylesheets include -->
        <% include templates/head.html %>
        <!-- Page specific stylesheets -->
        
        <style>
            #map-container { height: 300px; border: 2px solid grey }
            .openSansFont{
                font-family: 'Open Sans', sans-serif;
            }
            #success_message{ display: none;}
            .col-centered{
                float: none;
                margin: 0 auto;
            }
            blockquote {
                padding: 10px 20px;
                margin: 10px 20px;
                font-size: 14px;
                border-left: 5px solid blue;
            }
            a{
                font-size: 13px;
                padding: 2px;
                color:red; 
                text-decoration: underline;
            }
            a:hover{
                font-size: 15px;
                color:red; 

            }
        </style>
    </head>
    <body>
        <!-- Navigation bar include -->
        <% include templates/navbar.html %>
        
        <div class="container">
            <div class="clear">
            </div>
            <div class="jumbotron" style="min-height: 800px;">
            <div class="row">

                <!--Destinations column start-->
                <section class="col-md-8">
                    <legend>A few ways to get to jLab</legend>                    
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title openSansFont">
                                    <a data-toggle="collapse" 
                                       data-parent="#accordion" 
                                       href="#collapse1">
                                        From İzmir Adnan Menderes (ADB) Airport 1</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p class="openSansFont">
                                        Probably easiest way to reach jLab using public 
                                        transportation is using the subway 
                                        <a href="http://goo.gl/16LuuQ" 
                                           target="_blank">(IZBAN)</a>  just at the airport. 
                                        You can either buy 3-5 credit ticket from the kiosk 
                                        located at the gate of the station.<br/>Note that you are 
                                        to direct to Aliağa direction, and you will get off at
                                        Halkapınar station. You will change direction 
                                        <b>within the station to get to <a href="http://www.izmirmetro.com.tr/Sayfa/42/25/istasyonlar" 
                                                                           target="_blank">İzmir Metro</a> subway</b>, 
                                        for Fahrettin Altay bus-stop direction. 
                                        <br/>Now you have two options:
                                    <ul>
                                        <li>
                                            Get the bus 736 from the terminal. You may 
                                            have a look at the ring times of
                                            the bus line from 
                                            <a href="http://www.eshot.gov.tr/UlasimKartlari.aspx?mid=288"
                                               target="_blank">provided link.</a><br>
                                            <b>Important note: </b>If you are still in 90 minutes
                                            from first set foot to IZBAN, previous and
                                            this ride is free!
                                        </li>
                                        <li>
                                            Get the minibus, a direct (maybe a bit slow) service to 
                                            the campus. It will cost 5&#8378; or 1,5 &euro;
                                            <small><i>(April, 2016)</i></small>.
                                        </li>
                                    </ul>
                                    </p>
                                    <p class="openSansFont">
                                        <br/>
                                        Here is a link to <a href="https://goo.gl/GDAzXF" 
                                                             target="_blank">interactive Google map</a> 
                                        of the whole directions provided above.
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title openSansFont">
                                    <a data-toggle="collapse" 
                                       data-parent="#accordion" 
                                       href="#collapse2">From İzmir Adnan Menderes 
                                        (ADB) Airport 2</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="openSansFont">
                                        If you want the least effort way to reach jLab, 
                                        we advise you to take a yellow cab.<br/>
                                        It should cost around 130&#8378; or ~40&euro; 
                                        <small><i>(April, 2016)</i></small>
                                        . Most of the cab drivers can communicate with you, but here is 
                                        excerpt in Turkish roughly translates to:
                                        "please take me 
                                        to IZTECH campus, Gülbahçe-Urla, from the highway D300, than 
                                        take the autobahn O-32. Then please take Karaburun exit."
                                    </p>
                                    <blockquote>İzmir Yüksek Teknoloji Enstitüsü Gülbahçe-Urla 
                                        Kampüsüne gitmek istiyorum. Lütfen D300 çevre yolundan 
                                        Çeşme otobanını (O-32) kullanın. Karaburun çıkışınından 
                                        kampüse ulaşabilirsiniz.
                                    </blockquote>
                                    <p class="openSansFont">
                                        <br/>
                                        Here is a link to <a href="https://goo.gl/bEQiqn" 
                                                             target="_blank">interactive Google map</a> 
                                        if you want to 
                                        keep track of the route yourself.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div> 
                </section>
                <!--Destinations column end-->
                <!--Form column start-->
                <section class="col-md-4 ">
                    <div class="">
                        <form class="form-horizontal" action=" " method="post" id="contact_form">
                            <fieldset>
                                <!-- Form Name -->
                                <legend class="openSansFont">Contact us!</legend>

                                <div class="form-group">
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            <input name="name" placeholder="Your name please.." class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>

                                <!-- E-mail address-->

                                <div class="form-group">
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                            </span>
                                            <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                            <textarea class="form-control field span12" name="comment" placeholder="What you want us to know?"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="alert alert-success" role="alert" id="success_message">Success
                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                    <h5>Thanks for writing us.</h5>
                                    <p>Sometimes we write back, sometimes we do not.
                                        <br/>Cross your fingers!
                                    </p>
                                </div>
                                <div class="g-recaptcha col-centered" data-sitekey="6Leq8hsTAAAAAGaMqn1mWjW8Sqz4o7Zya2QYp60W"></div>
                                <div style="min-height:12px;"></div>
                                <div class="form-group">
                                    <div class="col-md-3 col-md-offset-8">
                                        <button type="submit" class="btn btn-warning">
                                            Done!
                                            <span class="glyphicon glyphicon-send"></span>
                                        </button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div><!--Contact us form end-->
                    <br class="clear">
                </section>
                <!--Form column end-->
            </div>
            <div class="row">
                <section class="col-md-8">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.0397434761258!2d26.632135458175917!3d38.3239900991549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bb90f4ea9ff6a9%3A0xd1a168191bc81463!2zxLB6bWlyIFnDvGtzZWsgVGVrbm9sb2ppIEVuc3RpdMO8c8O8IE1vbGVrw7xsZXIgQml5b2xvamkgVmUgR2VuZXRpayBCw7Zsw7xtw7w!5e0!3m2!1sen!2sus!4v1459009865896" width="100%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </section>
                <div class="col-md-4">
                    <!--Address column start-->
                    <section class="">
                        <legend class="openSansFont">A few ways to reach us</legend>
                        <h5 class="openSansFont">
                            <i class="glyphicon glyphicon-pencil"></i> 
                            &nbsp;jLab- Bioinformatics Lab.
                        </h5>
                        <p class="openSansFont">
                            Department of Molecular Biology and Genetics<br/>
                            İzmir Institute of Technology (IZTECH)<br/>
                            Gülbahçe Köyü, Urla 35430<br/>
                            İzmir, Türkiye
                        </p>    
                        <h5 class="openSansFont">
                            <i class="glyphicon glyphicon-phone-alt"></i> 
                            &nbsp;Secreteriat: 0 232 750 7300
                        </h5>
                        <h5 class="openSansFont">
                            <i class="glyphicon glyphicon-print"></i> 
                            &nbsp;Fax: 0 232 750 7303
                        </h5>
                        <h5 class="openSansFont">
                            <i class="glyphicon glyphicon-phone"></i> 
                            &nbsp;Lab: 0 232 750 7354
                        </h5>
                        <h5 class="openSansFont">
                            <i class="glyphicon glyphicon-envelope"></i> 
                            &nbsp;jlab@iyte.edu.tr
                        </h5>
                    </section>
                    <!--Address column end-->
                    <br/>
                    <a href="https://twitter.com/jallmer" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @Jens Allmer</a>
                    <a href="https://twitter.com/intent/tweet?screen_name=jallmer" class="twitter-mention-button" data-size="large" data-related="jallmer" data-dnt="true">Tweet to @Jens Allmer</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-12 col-md-12">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>                
            </div>
        </div>
        </div>
    <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    <script>
        $(document).ready(function () {
            $('#contact_form').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            stringLength: {
                                min: 1,
                            },
                            notEmpty: {
                                message: 'Please provide your name..'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'Please share your email address with us..'
                            },
                            emailAddress: {
                                message: 'Does not seem as a valid email address..'
                            }
                        }
                    },
                    comment: {
                        validators: {
                            stringLength: {
                                min: 10,
                                max: 250,
                                message: 'Message can contain character count of 10 and up to 250..'
                            },
                            notEmpty: {
                                message: 'Message can not be empty!'
                            }
                        }
                    }
                }
            })
                    .on('success.form.bv', function (e) {
                        $('#success_message').slideDown({opacity: "show"}, "slow")
                        $('#contact_form').data('bootstrapValidator').resetForm();
                        e.preventDefault();
                        var $form = $(e.target);
                        var bv = $form.data('bootstrapValidator');
                        $.post($form.attr('action'), $form.serialize(), function (result) {
                            console.log(result);
                        }, 'json');
                    });
        });
    </script>
</body>
</html>
