<!DOCTYPE html>
<html>
    <head>
        <!-- Head tags and stylesheets include -->
        <% include templates/head.html %>

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" href="/css/lightbox.css" />

        <style>
/*            First software should be blue and second be orange.*/

        </style>
    </head>
    <body>
        <!-- Navigation bar include -->
        <% include templates/navbar.html %>

        <!-- Main content and items -->
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="min-height: 800px;">
                <div class="row"><div class="col-md-12">
                    <h1>List of Courses</h1>
                </div></div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3" style="text-align: center; font-weight: bold;">Course</div>
                    <div class="col-md-3" style="text-align: center; font-weight: bold;">Years Taught</div><div class="col-md-3" style="text-align: center; font-weight: bold;">University</div><div class="col-md-2">&nbsp;</div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Applied Bioinformatics</div>
                    <div class="col-md-3">2008, 2009, 2010</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG305.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Computational Biology</div>
                    <div class="col-md-3">2008, 2009, 2010</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG404.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Introduction to Programming</div>
                    <div class="col-md-3">2016</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusCS102.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Algorithms in Bioinformatics</div>
                    <div class="col-md-3">2010, 2011, 2012, 2013, 2014</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG517.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Genomics</div>
                    <div class="col-md-3">2014, 2015</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG580.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Proteomics Data Analysis</div>
                    <div class="col-md-3">2011, 2012, 2013, 2015</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG581.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Special Topics</div>
                    <div class="col-md-3">2008 (spring, fall) - present</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG811.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Special Studies</div>
                    <div class="col-md-3">2008 (spring, fall) - present</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG911.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div><div class="col-md-3">Thesis Studies</div>
                    <div class="col-md-3">2008 (spring, fall) - present</div>
                    <div class="col-md-3"><a href='http://www.iyte.edu.tr' target='_blank'>Izmir Institute of Technology</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG500.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Introduction to Software Engineering</div>
                    <div class="col-md-3">2008</div>
                    <div class="col-md-3"><a href='http://www.ieu.edu.tr/en' target='_blank'>Izmir University of Economics</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusSE102.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Bioinformatics</div>
                    <div class="col-md-3">2008</div>
                    <div class="col-md-3"><a href='http://www.ieu.edu.tr/en' target='_blank'>Izmir University of Economics</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusCS300.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">System Analysis and Design</div>
                    <div class="col-md-3">2007</div>
                    <div class="col-md-3"><a href='http://www.ieu.edu.tr/en' target='_blank'>Izmir University of Economics</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusISE201.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Data Mining</div>
                    <div class="col-md-3">2007</div>
                    <div class="col-md-3"><a href='http://www.ieu.edu.tr/en' target='_blank'>Izmir University of Economics</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusISE311.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Bioinformatics in Genomics and Proteomics</div>
                    <div class="col-md-3">2007</div>
                    <div class="col-md-3"><a href='http://www.deu.edu.tr/en' target='_blank'>Dokuz Eylül University</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusKRS504.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Introduction to Computers and Information Systems</div>
                    <div class="col-md-3">2007 spring, fall, 20008 spring, fall</div>
                    <div class="col-md-3"><a href='http://www.ieu.edu.tr/en' target='_blank'>Izmir University of Economics</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusMBG404.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Advanced Programming</div>
                    <div class="col-md-3">2007</div>
                    <div class="col-md-3"><a href='http://www.ieu.edu.tr/en' target='_blank'>Izmir University of Economics</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusCS116.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Database Management Systems</div>
                    <div class="col-md-3">2007 spring, summer</div>
                    <div class="col-md-3"><a href='http://www.ieu.edu.tr/en' target='_blank'>Izmir University of Economics</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusIS202.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">Methods for functional proteomics</div>
                    <div class="col-md-3">2007</div>
                    <div class="col-md-3"><a href='http://www.uni-muenster.de' target='_blank'>Münster University</a></div>
                    <div class="col-md-2"><a href='/files/syllabi/SyllabusFMFP.pdf' target='_blank'>Syllabus</a></div>
                </div><div class="row"><div class="col-md-12">&nbsp;</div></div>
            </div>
        </div> <!-- /container -->

        <!-- Script file and function include -->
        <% include templates/scripts.html %>

        <script src="/js/lightbox.js"></script>
        <script>
            jQuery.fn.sortDivs = function sortDivs(param) {
                $("> div", this[0]).sort(dec_sort).appendTo(this[0]);
                function dec_sort(a, b) {
                    return ($(b).data(param)) < ($(a).data(param)) ? 1 : -1;
                }
            };

            $('#filter').keyup(function () {
                var txt = $('#filter').val();
                $('.software').each(function () {
                    if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            jQuery.fn.sortByTitle = function sortDivs() {
                $("> div", this[0]).sort(dec_sort).appendTo(this[0]);
                function dec_sort(a, b) {
                    return ($(b).find('h4')[0].innerHTML) < ($(a).find('h4')[0].innerHTML) ? 1 : -1;
                }
            };
        </script>
    </body>
</html>
