<!DOCTYPE html>
<html>
    <head>
        <!-- Head tags and stylesheets include -->
        <% include templates/head.html %>

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" href="/css/main.css">
        
    </head>
    <body>
        <!-- Navigation bar include -->
        <% include templates/navbar.html %>

        <!-- Main content and items -->
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="min-height: 800px;">

                <h1>Software and Online Services</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <ul>
                    <li>
                        <div style="background-color: green; border: 1px solid #000000;">
                            <span class="vertYear" style="float: left; background-color: yellow;">2016</span>
                            <span  style="float: left;  background-color: green;"><img src="../" /></span>
                            <span style="float: left;  background-color: blue;">Authors and other stuff</span>
                            <span style="float: left; background-color: red;">Links</span>
                        </div>
                    </li>
                    <li>

                    </li>
                </ul>

            </div>
        </div> <!-- /container -->

        <!-- Script file and function include -->
        <% include templates/scripts.html %>
         
    </body>
</html>
