<!DOCTYPE html>
<html>
    <head>
        <!-- Head tags and stylesheets include -->
        <% include templates/head.html %>

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" href="/css/lightbox.css" />
        <link rel="stylesheet" href="/css/templatemo_misc.css">
        <link href="/css/templatemo_style.css" rel="stylesheet">
	<script src="/js/jquery.lightbox.js"></script>
        <script src="/js/templatemo_custom.js"></script>
        <style>
            
        </style>
    </head>
    <body>
        <!-- Navigation bar include -->
        <% include templates/navbar.html %>
        <!-- Main content and items -->
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="min-height: 1200px;">
                <div class="row" style="min-height:150px;"><div class="col-md-12">
                    &nbsp;
                </div></div>    
<div id="menu-container">            
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
    <div class="container">
	    <div class="row templatemorow">
    		<div class="hex col-sm-6">
    	<div>
          <div class="hexagon">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="">
<!--                  Placeholder-->
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hex-offset hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(/img/profile_pictures/CircJA.png);">
                    <div class="overlay">
                        <a href="/staff/JA/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Jens Allmer<br/>PI</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
    	<div>
          <div class="hexagon ">
            <div class="hexagon-in1">
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon ">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/4.jpg);">
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon ">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/5.jpg);">
              </div>
            </div>
          </div>
        </div>
    </div>
  	     <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(/img/profile_pictures/ch.png);">
                    <div class="overlay">
                        <a href="/staff/CH/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Canan Has<br/>PhD Student</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(/img/profile_pictures/vg.png);">
                    <div class="overlay">
                        <a href="/staff/VG/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Visam Gültekin<br/>PhD Student</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(/img/profile_pictures/ds.png);">
                    <div class="overlay">
                        <a href="/staff/DS/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Duygu Saçar<br/>PhD Student</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(/img/profile_pictures/mt.png);">
                    <div class="overlay">
                        <a href="/staff/MT/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Mustafa Toprak<br/>PhD Student</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(/img/profile_pictures/mg.png);">
                    <div class="overlay">
                        <a href="/staff/MG/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Mehmet Göktay<br/>PhD Student</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>                
    	</div>
	</div>
    <div  id="newpost" class="container answer_list templatemo_gallerytop">
	    <div class="row templatemorow">
    		<div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/10.jpg);">
                    <div class="overlay">
                        <a href="/staff/RS/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Rabia Suluyayla<br/>MSc Student</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(/img/profile_pictures/cb.png);">
                    <div class="overlay">
                        <a href="/staff/CB/index.html" data-rel="lightbox" class="fa fa-expand"><p style='height:10px;'>&nbsp;</p>Caner Bağcı<br/>MSc Student</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/12.jpg);">
              	<div class="overlay">
						<a href="images/gallery/12.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/13.jpg);">
              	<div class="overlay">
						<a href="images/gallery/13.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/14.jpg);">
              		<div class="overlay">
						<a href="images/gallery/14.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  	     <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/15.jpg);">
              		<div class="overlay">
						<a href="images/gallery/15.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/16.jpg);">
              		<div class="overlay">
						<a href="images/gallery/16.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/17.jpg);">
              		<div class="overlay">
						<a href="images/gallery/17.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/18.jpg);">
              		<div class="overlay">
						<a href="images/gallery/18.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    	</div>
	</div>
    </div>
      <!-- gallery end -->                
            </div>
        </div> <!-- /container -->
</div>
        <!-- Script file and function include -->
        <% include templates/scripts.html %>
        
        <script src="/js/lightbox.js"></script>               
    </body>
</html>
