<title><%= title %></title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="./jlab.png" type="image/x-icon">
<link rel="shortcut icon" href="./jlab.png" type="image/png">

<!-- Bootstrap and jQuery JavaScript from MaxCDN with fallback script for any fail on CDN-->
<script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=" crossorigin="anonymous"></script>
<script>if (!window.jQuery) {
        document.write('<script src="/js/jquery-2.2.2.js"><\/script>');
    }</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" ></script>
<script>if (typeof ($.fn.modal) === 'undefined') {
        document.write('<script src="/js/bootstrap.min.js"><\/script>');
    }</script>


<!-- CSS Fallback Script -->
<script>
      function errorOnLibrary (param) {
        switch (param) {
            case "bootstrap-library":
                $("#bootstrap-library").attr("href", "/css/bootstrap.min.css");
                break;
            case "bootstrap-theme-library":
                $("#bootstrap-theme-library").attr("href", "/css/bootstrap-theme.min.css");
                break;
        }
    };
</script>
<!-- Bootstrap CSS from MaxCDN -->
<link rel="stylesheet" id="bootstrap-library" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" onerror="errorOnLibrary('bootstrap-library');"/>
<link rel="stylesheet" id="bootstrap-theme-library" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" onerror="errorOnLibrary('bootstrap-theme-library');" />

<!-- Custom css -->
<link rel="stylesheet" href="/css/main.css" />
