body {
    padding-top: 70px;
}
.navbar-brand {
    vertical-align: middle;
}

.jumbotron {
 background-color: #fff;    
}

.jumbotron h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
}
.jumbotron p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.bs-callout {
    padding: 10px;
    border-bottom: 12px solid #428bca;
    border-radius: 2px;
    background: white;
    margin-bottom: 30px;
}

.bs-callout a {
    word-wrap: break-word;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

.bs-callout .links {
    margin-right: 10px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}

.bs-callout-default {
    border-bottom-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-bottom-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.publication-container {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
}

.publication-container .publication {
    display: inline-block;
    width: 100%;
}